* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

img {
    max-width: 100%;
}

.desktop-image {
    display: none;
}

:root {
    --Deep-Aquamarine: hsl(158, 36%, 37%);
    --BG-Cream: hsl(30, 38%, 92%);
    --h1-Gunmetal: hsl(212, 21%, 14%);
    --Aurometal-Saurus: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body {
    background: var(--BG-Cream);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 343px;
    background-color: white;
    border-radius: 10px;
}

section {
    padding: 24px;
}

.mob-image {
    border-radius: 10px 10px 0 0;
}

h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 5px;
    color: var(--Aurometal-Saurus);
}

h1 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: var(--h1-Gunmetal);

    margin: 12px 0 16px;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: var(--Aurometal-Saurus);

}

ul {
    margin: 24px 0 20px;
    display: flex;
    align-items: center;
}

ul li:first-child {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: var(--Deep-Aquamarine);

    margin-right: 19px;
}

ul li:nth-child(2) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    text-decoration-line: line-through;
    color: var(--Aurometal-Saurus);
}

button {
    padding: 15px 90px;
    background: var(--Deep-Aquamarine);
    border-radius: 8px;
}


button span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: white;

    margin-left: 10px;
}


@media (min-width:768px) {
    .mob-image {
        display: none;
    }

    .desktop-image {
        display: block;
        border-radius: 10px 0 0 10px;
    }

    .container {
        display: flex;
        max-width: 608px;
    }

    section {
        padding: 32px;
    }

    h1 {
        margin: 20px 0 24px;
    }

    ul {
        margin: 30px 0;
    }

    button {
        padding: 15px 62px;
    }
}

button:hover {
    background: #1A4032;
    cursor: pointer;
}